.container{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}

.container div{
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
    flex-basis: 300px;
    flex-grow: 1;
}

#one{
    flex-shrink: 2;
}


p{
    background-color: red;
}