.container{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.container div{
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
}

p{
    background-color: red;
}